/* styles.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

p {
    font-size: 14px;
    color: green;
}

button {
    background-color: goldenrod;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="text"] {
    margin: 10px 0;
    padding: 8px;
}

input[type="file"] {
    margin: 10px 0;
}

ol {
    list-style-type: circle;
}
